{% extends 'index.html' %}

{% block content %}
<style>
    a{
        margin: 0 5px;
    }
</style>
<div class="container" style="display:flex;align-items:center;padding-top:20px;">
    <div>
        <h5>
            To confirm your order please press yes.:)
        </h5>
    </div>
    <div style="display:flex;">
        <a href="/rooturl/cash/" class="banner-btn">
            Yes
        </a>
        <a href="/rooturl/ViewCart/" class="banner-btn">
            No
        </a>
    </div
</div>
{% endblock %}